In [37]:
import pandas as pd

In [53]:
dfTp = pd.read_csv('TokPedScrapperOut/Kulkas Samsung2020-06-06.csv')
dfSa = pd.read_csv('TokPedScrapperOut/KulkasSamsung.csv')

In [54]:
saName = dfSa['tipeKulkas']
dfSa.tipeKulkasCl = dfSa.tipeKulkas.apply(lambda x: x.replace('/SE',''))

C:\ProgramData\Anaconda3\envs\LocEnv\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [52]:
dfSa

,Unnamed: 0,tipeKulkas,namaKulkas,hargaKulkas
0,0,RT35K5030B1,RT35 Kulkas 2 Pintu dengan Twin Cooling Plus™ ...,Rp 6.799.000
1,1,RT38K503JS8,RT38 Kulkas 2 Pintu dengan All-around Cooling™...,Rp 6.199.000
2,2,RT38K5030B1,"RT38 Kulkas 2 Pintu dengan Twin Cooling Plus™,...",Rp 7.099.000
3,3,RR18R1000SA,RR18R1000SA One Door dengan Tempered glass she...,Rp 2.499.000
4,4,RS64R5141SL,"RS64 SBS SpaceMax™ Technology, 676L",0
5,5,RS62R5001SL,"RS62 SBS SpaceMax™ Technology, 700L",0
6,6,RS62R5041B4,"RS62 SBS All-around Cooling, 700L",Rp 13.199.000
7,7,RS63R5561B4,"RS63 SBS SpaceMax™ Technology, 689L",Rp 14.499.000
8,8,RS61R5001M9,"RS61 SBS All-around Cooling, 700L",Rp 11.999.000
9,9,RT25FARBDSA,"RT25 Digital Inverter, 255L",Rp 4.799.000
10,10,RT29K5032DX,"RT29 Twin Cooling Plus™, Luxe Brown, 300L",Rp 5.599.000
11,11,RT35K5032DX,"RT35K5032DX Twin Cooling Plus™, Luxe Brown, 362L",0
12,12,RT38K5032DX,"RT38 Twin Cooling Plus™, Luxe Brown, 384L",Rp 6.899.000
13,13,RT22FARBDSA,"RT22 Digital Inverter, 234L",Rp 4.499.000
14,14,RT19M300BGS,"RT19 Kulkas 2 Pintu dengan All-around Cooling,...",0
15,15,RT29K5032S8,RT29 Kulkas 2 Pintu dengan Twin Cooling Plus™ ...,Rp 5.399.000
16,16,RT62K7011BS,RT62 Kulkas 2 Pintu dengan Twin Cooling Plus™ ...,Rp 9.899.000
17,17,RT32K5032S8,RT32 Kulkas 2 Pintu dengan Twin Cooling Plus™ ...,Rp 5.599.000
18,18,RT43K6231S8,RT43 Kulkas 2 Pintu dengan Twin Cooling Plus™ ...,Rp 7.099.000
19,19,RT46K6231BS,RT46 Kulkas 2 Pintu dengan Twin Cooling Plus™ ...,Rp 7.899.000
20,20,RT46K6231S8,RT46 Kulkas 2 Pintu dengan Twin Cooling Plus™ ...,Rp 7.499.000
21,21,RT50K6241S8,RT50 Kulkas 2 Pintu dengan Twin Cooling Plus™ ...,Rp 8.649.000
22,22,RT38K5032S8,RT38 Kulkas 2 Pintu dengan Twin Cooling Plus™ ...,0
23,23,RT53K6231BS,RT53 Kulkas 2 Pintu dengan Twin Cooling Plus™ ...,Rp 8.999.000
24,24,RT20FARWDSA,"RT20 Kulkas 2 Pintu dengan Coolpack 12 Jam, 203L",Rp 4.099.000

In [12]:
tpName = dfTp['name']
tpName

0       DEFROST-BIMETAL KULKAS 3 KABEL ST-3 + FUSE DAL...
1                      Thermistor kulkas samsung original
2       SAMSUNG RT29K5032S8 Kulkas 2 Pintu Twin Coolin...
3       Samsung RT25FARBDSA Kulkas Lemasi ES 2 Pintu R...
4           SAMSUNG - BIG 2 DOOR REFRIGERATOR RT46K6231BS
                              ...
5116                     Inverter Kulkas Samsung RT41TSGL
5117    PCB modul inverter kulkas samsung RT25FARBDSA ...
5118    Samsung Kulkas RT 20FAR WDWW - PUTIH -Inverter...
5119                                KULKAS SAMSUNG 22 FAR
5120               TERMIS kulkas 2 PINTU SAMSUNG oryginal
Name: name, Length: 5121, dtype: object

In [15]:
tpName.str.contains(' RT35K5030B1', regex=False)

0       False
1       False
2       False
3        True
4       False
        ...
5116    False
5117     True
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool

In [36]:
for tipeKulkas in dfSa['tipeKulkas'] :
    tipeKulkas = (tipeKulkas.replace('/SE',''))
    print(tpName.str.contains(tipeKulkas, regex=True))

0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3        True
4       False
        ...
5116    False
5117     True
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2        True
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4        True
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
5116    False
5117    False
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool